<div style="padding: 40px;">
    <div style="display:flex; justify-content: space-between;">
        <input style="width:90%" [(ngModel)]="this.search" (ngModelChange)="filterCourseNames()" placeholder="Szukaj po nazwie kursu">
        <button mat-raised-button color="accent" routerLink="/courseadd">
            <span>Dodaj Kurs</span>
          </button>
    </div>
    <div style="display:flex; flex-wrap: wrap; overflow-y: auto; height: 700px; padding-top: 10px;">
        <div style="width:25%; padding-top: 15px;"*ngFor="let course of currentCourses$">
            <course-item [id]="course.id" [courseName]="course.course_name" [category]="course.category" ></course-item>
          </div>
    </div>
</div>
