<div style="padding:25px;display: flex; justify-content: center;">
    <div *ngIf="!test$ && !questions$" class="spinner-grow text primary"></div>
    <div *ngIf="test$ && questions$" class="card" style="width: 70%; height: 60%;">
        
        <div class="card-header" style="display: flex; align-items: center; flex-direction: column; color: black;">
            <h3>{{test$.test_name}}</h3>
            <h4>Kategoria: {{test$.category}}</h4>
        </div>


        <div class="card-body" style="color: black;">
            <div style="display: flex; justify-content: space-between; padding: 10px;">
                <h2 >Pytanie: {{questions$[currentQuestionIdx].question}}</h2>
                <h3 >{{currentQuestionIdx + 1}}/{{questions$.length}}</h3>
            </div>
            <div style="display: flex; justify-content: flex-start;">
            <div style="max-height: 540px; width: 100%; overflow-y: auto; background-color: rgb(243, 238, 225); color: black; padding: 15px; border-radius: 5px; border: 1px solid black;">
                <h2 >Wybierz odpowiedź:</h2>
                <mat-radio-group style="display:flex; align-items:flex-start; flex-direction: column;"
                    (change)="handleChange($event)" name="radioGroup1" aria-labelledby="example-radio-group-label"
                    *ngFor="let answer of questions$[currentQuestionIdx].answers; let i = index">
                    <mat-radio-button style="padding: 5px;" value={{i}} [checked]="checkIfRadioButtonHasAnswer(i)" color="primary">
                        {{answer}}
                    </mat-radio-button>
                </mat-radio-group>
            </div>
        </div>
            <div style="display: flex; justify-content: space-between; padding-top: 5px; padding: 10px;">
                <button class="btn btn-danger" (click)="previousQuestion()" [disabled]="disableButton()">Cofnij</button>
                <button *ngIf="currentQuestionIdx !== questions$.length-1" class="btn btn-primary"
                    (click)="nextQuestion()">Przejdź dalej</button>
                <button *ngIf="currentQuestionIdx === questions$.length-1" class="btn btn-success"
                    (click)="sendAnswers()">Zakończ test</button>
            </div>
        </div>
    </div>
</div>

<!-- <pre>{{test$ | json }}</pre>
<pre>{{questions$ | json }}</pre> -->