<mat-toolbar>
  <button mat-icon-button *ngIf="sidenav.mode === 'side'" (click)="sidenav.toggle()">
    <mat-icon *ngIf="!sidenav.opened"> menu </mat-icon>
    <mat-icon *ngIf="sidenav.opened"> close </mat-icon>
  </button>
  Platforma Edukacyjna
</mat-toolbar>

<mat-sidenav-container>

  <mat-sidenav #sidenav="matSidenav">
    <button mat-button class="sidebar-button" routerLink="/home">
      <mat-icon>home</mat-icon>
      <span>Strona Główna</span>
    </button>
    <button mat-button class="sidebar-button" routerLink="/quizlist">
      <mat-icon>games</mat-icon>
      <span>Testy</span>
    </button>
    <button mat-button class="sidebar-button" routerLink="/courselist">
      <mat-icon>chrome_reader_mode</mat-icon>
      <span>Kursy</span>
    </button>
  </mat-sidenav>

  <mat-sidenav-content>
    <div class="content mat-elevation-z4">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
  
</mat-sidenav-container>