<div style="padding: 25px; display: flex; justify-content: center;">
    <div class="card" style="color: black; display: flex; justify-content: center; width: 75%;">
        <h1 class="card-header" style="display: flex; justify-content: center;">
            Witajcie na Platformie Edukacyjnej!
        </h1>
        <h3 class="card-body" style="text-align: justify;">
            Witaj w aplikacji webowej dotyczącej testów i kursów dydaktycznych.
            Strona ta pozwala na zdobywanie i sprawdzenie swojej wiedzy. Do dyspozycji użytkownika oddane
            zostały narzędzia, śłużące do zamieszczania materiałów tekstowych dla określonej kategorii.
            Jest również możliwość rozwiązywania testów z danej dziedziny i ich tworzenia.
        </h3>
        <h2 class="card-footer" style="display: flex; justify-content: center;">Miłego korzystania z usług, dostępnych na stronie 😃</h2>
    </div>
</div>
